@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .navitem {
    @apply font-medium text-customPink dark:text-blue-500 hover:underline pt-6 pl-4;
  }
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.carusalImages {
  z-index: 2;
  position: relative;
}
.bigImages {
  z-index: 99;
  position: relative;
}
.cross {
  z-index: 1000;
}
.carusalimg {
  margin-top: -3rem;
}
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.alertSuccess {
  position: fixed;
  z-index: 1000;
  margin-top: 30rem;
}
.emptyCart {
  z-index: 999;
  position: relative;
}
.increaseAmount {
  z-index: 999;
  position: relative;
  cursor: pointer;
}
.sideNavbar {
  border: 1px solid white;
  border-top: none;
  margin-top: 127px;
  animation: slideDown 3s ease forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.topNavbarItem {
  border-bottom: 1px solid white;
}
.dropdown-item:hover {
  color: blue !important;
  background-color: black !important;
}
.Gold22KT {
  margin-left: 2rem !important;
}
.userIcon {
  filter: invert(1);
}
.contact_info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
}
.aboutUs {
  color: white;
}

/* --------------------------------------------- */
